---
const URL = Astro.url.pathname
---

<span class="titles">
  <span class="active">Dream</span>
  <span>Build</span>
  <span>Grow</span>
</span>

<style>
  .titles span {
    display: none;
    width: clamp(80px, 20vw, 150px);
    padding: 0.2rem;
    text-align: center;
    line-height: normal;
    border: 2px dashed var(--color-black);
    border-radius: var(--border-radius-image);
    animation: fadeIn 4s 0s infinite;
  }

  .titles span.active {
    display: inline-block;
  }

  .titles span:nth-of-type(1) {
    background-color: var(--color-secondary-200);
  }

  .titles span:nth-of-type(2) {
    background-color: var(--color-white);
  }

  .titles span:nth-of-type(3) {
    color: var(--color-white);
    background-color: var(--color-primary-200);
    border-color: var(--color-white);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(0, -50%);
    }
    20% {
      opacity: 1;
      transform: translate(0, 0);
    }
    80% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, -50%);
    }
  }
</style>

<script define:vars={{ URL }}>
  /**
   * Animate the titles on the home page by fading them in and out
   */
  function animateTitles() {
    const titles = document.querySelectorAll('.titles span')
    let index = 0

    const animation = setInterval(() => {
      titles[index].classList.remove('active')

      if (index === titles.length - 1) {
        index = 0
      } else {
        index++
      }

      titles[index].classList.add('active')
    }, 4000)

    // Clear the interval when the page is unloaded
    document.addEventListener(
      'astro:page-load',
      () => {
        if (URL === '/') {
          clearInterval(animation)
        }
      },
      { once: true }
    )
  }

  document.addEventListener(
    'astro:page-load',
    () => {
      animateTitles()
    },
    { once: true }
  )
</script>
