---
const URL = Astro.url.pathname
---

<span class="titles-container">
  <span>creatives</span>
  <span>artists</span>
  <span>entrepreneurs</span>
</span>

<style>
  .titles-container span {
    display: none;
    width: clamp(155px, 40vw, 190px);
    padding: 0 0 0.15rem;
    border: 2px dashed var(--color-black);
    border-radius: 3rem;
    animation: fadeIn 4s 0s infinite;

    &.active {
      display: inline-flex;
      justify-content: center;
    }

    &:nth-of-type(1) {
      background-color: var(--color-secondary-200);
    }

    &:nth-of-type(2) {
      background-color: var(--color-white);
    }

    &:nth-of-type(3) {
      color: var(--color-white);
      background-color: var(--color-primary-200);
      border-color: var(--color-white);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    15% {
      opacity: 1;
      transform: translate(0, 0);
    }
    85% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, -25%);
    }
  }
</style>

<script define:vars={{ URL }}>
  /**
   * Animate the titles on the home page by fading them in and out
   */
  function animateTitles() {
    const titles = document.querySelectorAll('.titles-container span')
    let index = 0

    // init the first title when the page is loaded
    // causes a bit of layout shift, but better than title flickering
    titles[index].classList.add('active')

    const animation = setInterval(() => {
      titles[index].classList.remove('active')

      // Reset the index when it reaches the end of the array
      if (index === titles.length - 1) {
        index = 0
      } else {
        index++
      }

      // Add the active class to the next title
      titles[index].classList.add('active')
    }, 4000)

    // Stop the animation when the page is unloaded
    document.addEventListener(
      'astro:page-load',
      () => {
        if (URL === '/') {
          clearInterval(animation)
        }
      },
      { once: true }
    )
  }

  // Start the animation when the page is loaded
  document.addEventListener(
    'astro:page-load',
    () => {
      animateTitles()
    },
    { once: true }
  )
</script>
