---
import Icon from 'astro-icon'
import { Picture } from 'astro:assets'
import headshot from '../../assets/headshot.png'
import SiteCta from '../SiteCta.astro'
import Link from '../text/Link.astro'
import SectionHeader from '../text/SectionHeader.astro'
---

<section id="about" class="about site-section aos-fade">
  <SectionHeader text="Who Is Wave Land?" />
  <div class="about-bio">
    <p>
      Hey, I'm Josh. I've spent my life creating things - for years as a full-time musician and
      songwriter, and now as a web developer. I created Wave Land Web to empower ambitious and
      entrepreneurial dreamers with the resources and knowledge necessary to thrive online and
      create websites that bring their brand and personality to life.
    </p>
    <p>
      We build websites for creatives and small businesses that focus on usability, accessibility,
      and <Link href="/blog/normalizing-web-sustainability" text="sustainability" />. Our mission is
      to help you achieve your professional dreams by building custom web experiences that support
      your vision and inspire creativity, all while delivering unparalleled user experience.
    </p>
    <p class="bold">Click the link below to schedule a free 15-minute consultation</p>
    <SiteCta
      text="Let's Connect"
      url="https://calendly.com/wavelandweb/15-min-meeting"
      openInNewTab={true}
      class="cta"
    />
  </div>
  <div class="about-content aos-fade">
    <Icon name="curved-text" />
    <Picture src={headshot} formats={['avif', 'webp']} alt="Josh Nussbaum eating a bowl of ramen" />
    <div class="about-content-info">
      <h3>Services</h3>
      <ul class="services">
        <li class="tag">Custom Web Development</li>
        <li class="tag">User-focused Web Design</li>
        <li class="tag">Digital Strategy</li>
      </ul>

      <h3>Technologies</h3>
      <ul class="technologies">
        <li>
          <a
            href="https://www.typescriptlang.org/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Typescript"
            title="Typescript"
          >
            <Icon name="typescript" />
          </a>
        </li>
        <li>
          <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Astro"
            title="Astro"
          >
            <Icon name="astro" />
          </a>
        </li>
        <li>
          <a
            href="https://nextjs.org/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Next.js"
            title="Next.js"
          >
            <Icon name="nextjs" />
          </a>
        </li>
        <li>
          <a
            href="https://www.sanity.io/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Sanity"
            title="Sanity"
          >
            <Icon name="sanity" />
          </a>
        </li>
        <li>
          <a
            href="https://www.figma.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Figma"
            title="Figma"
          >
            <Icon name="figma" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .about {
    text-align: center;
  }

  .about-bio {
    max-width: 750px;
    margin: 0 auto 2rem;
  }

  .about-bio p {
    margin-bottom: 1rem;
  }

  .about-bio .cta {
    margin: 2rem auto var(--section-spacing-base);
  }

  .about-content {
    display: grid;
    align-items: center;
    gap: 6rem;
  }

  @media (min-width: 1024px) {
    .about-content {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  .about-content [astro-icon='curved-text'] {
    max-height: 425px;
  }

  .about-content img {
    max-width: 600px;
    margin: 0 auto;
  }

  .about-content-info {
    max-width: 300px;
    margin: 0 auto;
  }

  .about-content-info h3 {
    margin-bottom: 1rem;
  }

  .about-content-info .services {
    margin-bottom: 3rem;
  }

  .about-content-info .services .tag {
    margin-bottom: 0.5rem;
  }

  .about-content-info .technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .about-content-info .technologies li {
    width: 4rem;
  }
</style>
