---
import { Icon } from 'astro-icon'
---

<section class="entry site-section">
  <Icon name="title" />
  <div class="entry-info">
    <p>Creative <span>Web Design</span> & <span>Development</span></p>
  </div>
</section>

<style>
  .entry {
    /* calculate padding from .entry-info + .site-section */
    min-height: calc(100vh - 2rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    .entry {
      min-height: calc(100vh - 8rem);
      justify-content: end;
    }
  }

  /***

    This is a temporary fix for Safari + Firefox.
    The ViewTransition API only really works in Chrome so, for now we're keeping the header visible.
    The .site-section class is needed for the scrolling animation.

  ***/

  .entry.site-section {
    opacity: 1;
  }

  .entry-info {
    padding: 1rem 0.25rem;
  }

  @media (min-width: 768px) {
    .entry-info {
      padding: 1rem 2.5rem 1rem 0.3rem;
    }
  }

  .entry-info::before,
  .entry-info::after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--color-background);
    border-radius: 1rem;
  }

  .entry-info::before {
    width: 100%;
    margin-bottom: clamp(1rem, 5vw, 2rem);
  }

  .entry-info::after {
    width: 50%;
    margin-top: clamp(1rem, 5vw, 2rem);
  }

  .entry-info p {
    font-size: clamp(var(--size-base), 6vw, var(--size-lg));
    font-weight: 300;
    text-wrap: initial;
  }

  .entry-info span {
    position: relative;
    z-index: 1;
    font-weight: 400;
    padding: 0 0.5rem 0 0;
  }

  /* Dark Mode */
  .entry-info p span:first-of-type,
  body.dark .entry-info p span:last-of-type {
    color: var(--color-foreground);
  }

  body.dark .entry-info p span:first-of-type {
    color: var(--color-background);
  }

  .entry-info span:first-of-type::after,
  .entry-info span:last-of-type::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-0.25rem) rotate(-2deg);
    padding: 0.25rem;
    z-index: -1;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
  }

  .entry-info p span:first-of-type::after {
    background-color: var(--color-primary-200);
  }

  .entry-info p span:last-of-type::after {
    background-color: var(--color-secondary-200);
  }
</style>
