<footer id="footer" class="footer">
  <p id="copyright">wavelandweb.com © {new Date().getFullYear()}</p>
</footer>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    & p {
      padding: 2rem;
      text-align: center;
      color: var(--color-foreground);
    }
  }
</style>
