---
import { Icon } from 'astro-icon'
import SiteCta from '../SiteCta.astro'
import RotatingTitles from '../animations/RotatingTitles.astro'
---

<header id="hero" class="hero site-section">
  <div class="header-info aol-fade">
    <Icon name="title" />
    <p>custom web development | digital strategy</p>
    <p>
      We help <RotatingTitles /> foster meaningful connections with stress-free, custom websites
    </p>
    <SiteCta
      text="Free Strategy Call →"
      url="https://calendly.com/wavelandweb/15-min-meeting?month=2024-04"
      openInNewTab={true}
    />
  </div>
</header>

<style>
  .hero {
    min-height: calc(100vh - 12rem);
    margin: 0 auto;

    & .header-info {
      max-width: 40rem;
    }

    & p {
      position: relative;
      font-size: clamp(var(--size-sm), 4vw, var(--size-base));
      margin-bottom: clamp(1rem, 4vw, 1.5rem);

      &:first-of-type {
        font-size: clamp(var(--size-xxs), 3vw, var(--size-xs));
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 400;
        color: var(--color-grey-200);
      }

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: var(--color-white);
        opacity: 0.75;
        border-radius: var(--border-radius-image);
        filter: blur(0.5rem);
      }
    }
  }
</style>
