---
import { Icon } from 'astro-icon'
import RotatingTitles from '../../components/animations/RotatingTitles.astro'
import SiteCta from '../SiteCta.astro'
---

<header id="hero" class="hero site-section">
  <div class="header-info aol-fade">
    <Icon name="title" />
    <p>Web Design Studio Helping Creatives & Small Businesses <RotatingTitles /></p>
    <SiteCta text="Create Your Website" url="/contact" />
  </div>
</header>

<style>
  .hero {
    min-height: calc(100vh - 12rem);
    margin: 0 auto;
  }

  & p {
    position: relative;
    max-width: 260px;
    margin-bottom: 1rem;
    font-size: var(--size-sm);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--color-white);
      opacity: 0.75;
      border-radius: var(--border-radius-image);
      filter: blur(0.5rem);
    }

    @media (min-width: 576px) {
      & {
        max-width: 450px;
        font-size: var(--size-base);
      }
    }

    @media (min-width: 768px) {
      & {
        max-width: 680px;
        font-size: var(--size-lg);
      }
    }
  }
</style>
