---
import { Icon } from 'astro-icon'
import SiteCta from '../SiteCta.astro'
---

<header id="hero" class="site-section">
  <div class="header-info">
    <Icon name="title" />
    <p>Web Development Agency Helping Artists & Creatives Build Their Digital Presence</p>
    <SiteCta text="Create Your Website" url="/contact" />
  </div>
</header>

<style>
  .header-info p {
    margin-bottom: 1rem;
    font-size: clamp(var(--size-sm), 4vw, var(--size-lg));
  }
</style>
