---
import { Icon } from 'astro-icon'
import SiteCta from '../SiteCta.astro'
---

<header id="hero" class="hero site-section">
  <div class="header-info">
    <Icon name="title" />
    <p>Web Development Agency Helping Creatives & Small Businesses Succeed</p>
    <SiteCta text="Create Your Website" url="/contact" />
  </div>
</header>

<style>
  .hero {
    min-height: calc(100vh - 12rem);
    margin: 0 auto;
  }

  & p {
    position: relative;
    margin-bottom: 1rem;
    font-size: clamp(var(--size-sm), 4vw, var(--size-lg));

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--color-white);
      opacity: 0.75;
      border-radius: var(--border-radius-image);
      filter: blur(0.5rem);
    }
  }
</style>
