---
import CarouselWithTextContent from '../CarouselWithTextContent.astro'
import SiteCta from '../SiteCta.astro'
import moonbellyDevicesImage from '../../assets/moonbelly-devices.png'
import supervoidDevicesImage from '../../assets/supervoid-devices.png'
import robbyWebbDevicesImage from '../../assets/robby-webb-devices.png'
import bornYesterdayBakeryDevicesImage from '../../assets/born-yesterday-bakery-devices.png'
---

<section id="introduction" class="introduction site-section">
  <CarouselWithTextContent
    class="image-with-text-content-custom"
    images={[
      { id: 1, src: moonbellyDevicesImage, alt: 'Moonbelly Makes Devices', active: true },
      { id: 2, src: supervoidDevicesImage, alt: 'Supervoid TV Devices', active: false },
      {
        id: 3,
        src: bornYesterdayBakeryDevicesImage,
        alt: 'Born Yesterday Bakery Devices',
        active: false,
      },
      { id: 4, src: robbyWebbDevicesImage, alt: 'Robby Webb Devices', active: false },
    ]}
  >
    <h2>No Nonsense, Just Great Websites</h2>
    <p>
      Beautifully responsive, high-performance websites, thoughtfully built with modern technologies
      and a creative touch.
    </p>
    <p>Let us handle the hard stuff so that you can focus on what you do best.</p>
    <SiteCta class="cta" text="View Portfolio" url="/#portfolio" />
  </CarouselWithTextContent>
</section>

<style>
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .image-with-text-content-custom .cta {
    margin-top: 1rem;
  }

  .image-with-text-content-custom p:nth-of-type(2) {
    color: var(--color-grey-300);
  }
</style>
