---
import { getCollection } from 'astro:content'
import SectionHeader from '../text/SectionHeader.astro'
import RecentPostsContainer from '../blog/RecentPostsContainer.astro'

const allPosts = await getCollection('blog')
const sortedPosts = allPosts.sort((a, b) => +b.data.id - +a.data.id)
const recentPosts = sortedPosts.slice(0, 3)
---

<section id="recent-posts" class="recent-posts">
  <SectionHeader text="Recent Posts" />
  <RecentPostsContainer posts={recentPosts} />
</section>
