---
const currentPath = Astro.url.pathname
---

<div id="desktop-nav" class="desktop-nav">
  <ul>
    <li><a href="/#portfolio" aria-label="Portfolio">Portfolio</a></li>
    <li>
      <a href="/blog" aria-current={currentPath.includes('/blog')} aria-label="Blog">Blog</a>
    </li>
    <li>
      <a href="/contact" aria-current={currentPath.includes('/contact')} aria-label="Contact"
        >Contact</a
      >
    </li>
  </ul>
</div>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: block;
      z-index: 2;
    }
  }

  @media (min-width: 768px) {
    .desktop-nav ul {
      display: flex;
      gap: 2rem;
    }
  }

  @media (min-width: 768px) {
    .desktop-nav li {
      font-size: var(--size-base);
    }
  }

  @media (min-width: 768px) {
    .desktop-nav li a {
      transition: all var(--transition-normal);
    }

    .desktop-nav li a:hover {
      color: var(--color-primary-200);
    }
  }
</style>
