---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Wave Land Web | Blog"
  description="Explore the captivating insights and expertise within Wave Land Web's esteemed blog, where we delve into the realms of web development, design, and the broader creative landscape, offering thought-provoking articles that immerse you in a world of knowledge and inspiration"
>
  <h1>Blog</h1>
</Layout>
