---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Wave Land Web | Contact" description="Contact Wave Land Web">
  <header class="header">
    <div class="header-info">
      <h1>Contact</h1>
      <p>Ready to get started?</p>
      <p>Fill out the form below and we'll get back to you as soon as possible.</p>
    </div>
  </header>

  <main>
    <section id="contact" class="contact aol-fade">
      <form method="POST" class="form" name="contactForm" action="/success/" data-netlify="true">
        <!-- Name -->
        <div class="form-field">
          <input id="name" type="text" name="name" placeholder=" " required />
          <label for="name">Name <span>*</span></label>
        </div>

        <!-- Email -->
        <div class="form-field">
          <input id="contact-email" type="email" name="contact-email" placeholder=" " required />
          <label for="contact-email">Email <span>*</span></label>
        </div>

        <!-- Company -->
        <div class="form-field">
          <input id="company" type="text" name="company" placeholder=" " required />
          <label for="company">Company <span>*</span></label>
        </div>

        <!-- Services -->
        <div class="form-field">
          <p>What services are you interested in?</p>

          <!-- Web Design & Development -->
          <div class="checkbox">
            <input
              type="checkbox"
              id="web-design-and-development"
              name="web-design-and-development"
              value="Web Design & Development"
            />
            <label for="web-design-and-development">Web Design & Development</label>
          </div>

          <!-- Hosting & Maintenance -->
          <div class="checkbox">
            <input
              type="checkbox"
              id="hosting-and-maintenance"
              name="hosting-and-maintenance"
              value="Hosting & Maintenance"
            />
            <label for="hosting-and-maintenance">Hosting & Maintenance</label>
          </div>

          <!-- SEO & Marketing -->
          <div class="checkbox">
            <input
              type="checkbox"
              id="seo-and-marketing"
              name="seo-and-marketing"
              value="SEO & Marketing"
            />
            <label for="seo-and-marketing">SEO & Marketing</label>
          </div>

          <!-- Other -->
          <div class="checkbox">
            <input type="checkbox" id="other" name="other" value="Other" />
            <label for="other">Other</label>
          </div>
        </div>

        <!-- Message -->
        <div class="form-field">
          <textarea id="message" name="message" cols="30" rows="5" placeholder=" " required
          ></textarea>
          <label for="message">How can we help you? <span>*</span></label>
        </div>

        <!-- Email Subscribe -->
        <div class="form-field">
          <div class="checkbox">
            <input
              type="checkbox"
              id="email-subscribe"
              name="email-subscribe"
              value="Email Subscribe"
            />
            <label for="email-subscribe">Sign up for our newsletter (optional)</label>
          </div>
        </div>
        <button class="site-cta" type="submit">Send Message</button>
      </form>
    </section>
  </main>
</Layout>

<style>
  .header,
  .contact {
    max-width: 650px;
  }

  .header-info h1 {
    font-family: var(--font-body);
    font-size: clamp(var(--size-sm), 4vw, var(--size-base));
    color: var(--color-primary-200);
  }

  .header-info p {
    font-size: clamp(var(--size-sm), 4vw, var(--size-base));

    &:nth-of-type(1) {
      font-family: var(--font-heading);
      font-size: clamp(var(--size-lg), 10vw, var(--size-xxl));
      line-height: normal;
      text-wrap: balance;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & button {
      margin: 0 auto;
      padding: 1rem 1.5rem;
    }
  }

  .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    font-size: clamp(var(--size-xs), 2vw, var(--size-sm));

    & label,
    & p {
      color: var(--color-grey-200);
    }

    & textarea {
      resize: vertical;
    }

    &:has(input[type='checkbox']:checked) p {
      color: var(--color-background);
    }

    & .checkbox {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input {
        accent-color: var(--color-primary-200);
      }
    }

    & .checkbox input,
    & .checkbox label {
      cursor: pointer;
    }

    & .checkbox input:checked + label {
      color: var(--color-background);
    }

    & input,
    & textarea {
      padding: 1rem 0.5rem;
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 2px solid var(--color-background);
      border-radius: 0;
      outline: none;
      transition: all var(--transition-normal);
    }

    & input:focus,
    & textarea:focus {
      border-bottom: 2px solid var(--color-primary-200);
    }

    & input:not(:placeholder-shown):valid,
    & textarea:not(:placeholder-shown):valid {
      border-color: var(--color-background);
    }

    & input:not(:placeholder-shown):not(:valid),
    & textarea:not(:placeholder-shown):not(:valid) {
      border-color: var(--color-primary-200);
    }

    & input:not(:placeholder-shown):not(:valid) + label,
    & textarea:not(:placeholder-shown):not(:valid) + label {
      color: var(--color-primary-200);
    }

    &:not(:has(input[type='checkbox'])) label {
      position: absolute;
      top: 48%;
      left: 0.5rem;
      transform: translateY(-50%);
      transition: all var(--transition-normal);
    }

    & textarea + label {
      top: 1.5rem;
    }

    & input:not([type='checkbox']):focus + label,
    & textarea:focus + label,
    & span {
      color: var(--color-primary-200);
    }

    & input:not([type='checkbox']):valid + label,
    & textarea:valid + label {
      color: var(--color-background);
    }

    & input:focus + label,
    & textarea:focus + label,
    & input:not(:placeholder-shown) + label,
    & textarea:not(:placeholder-shown) + label {
      top: -0.5rem;
      left: 0;
    }
  }
</style>
