---
import Icon from 'astro-icon'
---

<div class="dark-mode">
  <Icon name="moon" class="active" />
  <Icon name="sun" />
</div>

<style>
  .dark-mode {
    position: fixed;
    top: 2.8rem;
    left: 3rem;
    z-index: 999;
  }

  @media (min-width: 768px) {
    .dark-mode {
      top: 5.5rem;
      left: 5rem;
    }
  }

  [astro-icon] {
    cursor: pointer;
    width: 2rem;
    opacity: 0;
    transition: all var(--transition-normal);
    position: absolute;
    z-index: -1;
    top: -1rem;
    left: 0;
  }

  [astro-icon].active {
    opacity: 1;
    z-index: 1;
    top: 0;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const body = document.querySelector('body')
    const moon = document.querySelector('[astro-icon="moon"]')
    const sun = document.querySelector('[astro-icon="sun"]')

    function toggleDarkMode() {
      body?.classList.toggle('dark')
      moon?.classList.toggle('active')
      sun?.classList.toggle('active')
    }

    moon?.addEventListener('click', toggleDarkMode)
    sun?.addEventListener('click', toggleDarkMode)
  })
</script>
