---
import { Picture } from 'astro:assets'
import TextContent from './TextContent.astro'

export interface Props {
  image: ImageMetadata
  imageAlt: string
  class?: string
}

const { image, imageAlt, class: className } = Astro.props
---

<div class:list={['image-and-text-content', className]}>
  <TextContent class="text-content-custom">
    <slot />
  </TextContent>
  <Picture src={image} alt={imageAlt} />
</div>

<style>
  .image-and-text-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--section-spacing-base);
  }

  @media (min-width: 768px) {
    .image-and-text-content {
      grid-template-columns: minmax(250px, 475px) minmax(250px, 675px);
    }
  }

  @media (min-width: 768px) {
    .text-content-custom {
      align-items: flex-start;
      text-align: left;
    }
  }
</style>
